Flask==2.1.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
Werkzeug==2.1.2
google-api-core==2.17.1 
google-cloud-documentai==2.24.0 
googleapis-common-protos==1.62.0 
grpcio==1.62.0 
grpcio-status==1.62.0 
proto-plus==1.23.0
