Flask==2.1.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
Werkzeug==2.1.2
google-api-core==2.17.1 
google-cloud-documentai==2.24.0 
googleapis-common-protos==1.62.0 
grpcio==1.62.0 
grpcio-status==1.62.0 
proto-plus==1.23.0
google-ai-generativelanguage==0.4.0 
google-generativeai==0.4.0
IPython==8.18.1 
asttokens==2.4.1 
executing==2.0.1 
jedi==0.19.1 
matplotlib-inline==0.1.6 
parso==0.8.3 
pexpect==4.9.0 
prompt-toolkit==3.0.43 
ptyprocess==0.7.0 
pure-eval==0.2.2 
pygments==2.17.2 
stack-data==0.6.3 
traitlets==5.14.1 
wcwidth==0.2.13
